<div id="fullMenu">
    <h2>Eat Da Burger!</h2>
    <ul>
        {{#each burger}} {{#unless devoured}} {{> burgers/burger-block devoured=false}} {{/unless}} {{/each}}
    </ul>
</div>

<div id="Container">
    <form class="startBurger">
        <h2>What is your favorite burger?</h2>
        <div class="form-group">
            <h3 id="errMess"></h3>
            <label for="burger_name">Name the burger you are making?:</label>
            <input type="text" id="burger_name" name="name">
        </div>


        <div class="form-group">
            <label for="devoured"></label>
            
        </div>
        <button type="submit" id="btnBurgerBuilder">Add Burger</button>
    </form>
</div>


<div id="burgerDevoured">
    
    <ul>
        {{#each burger}} {{#if devoured}} {{> burgers/burger-block devoured=true}} {{/if}} {{/each}}
    </ul>
</div>


