<div id="fullMenu">
    <h2>Eat Da Burger!</h2>
    <ul>
        {{#each burger}} {{#unless devoured}} {{> burgers/burger-block devoured=false}} {{/unless}} {{/each}}
    </ul>
</div>

<div id="Container">
    <form class="startBurger">
        <h2>What is your favorite burger?</h2>
        <div class="form-group">
            <h3 id="errMess"></h3>
            <label for="burger_name">Name the burger you are making?:</label>
            <input type="text" id="burger_name" name="name">
        </div>


        <div class="form-group">
            <label for="devoured">Take it all?</label>
            <div id="takeitall">
                <input class="rbDevoured" type="radio" name="devoured" value="1" checked> TakeIt!
                <br>
                <input class="rbDevoured" type="radio" name="devoured" value="0"> TakeItAll!
            </div>
        </div>
        <button type="submit" id="btnBurgerBuilder">Add Burger</button>
    </form>
</div>


<div id="burgerDevoured">
    <h2>Yum Yum!</h2>
    <ul>
        {{#each burger}} {{#if devoured}} {{> burgers/burger-block devoured=true}} {{/if}} {{/each}}
    </ul>
</div>

<li>
  {{burger_name}}
  <div class="itemContainer">
	  {{#unless devoured}}
	  <button class="biteBurger" data-id="{{this.item_id}}">Eat!</button>
	  {{/unless}}
   
  </div>
</li>
